#!/bin/bash
set -e
set -o pipefail

if [[ ${behavior} == "merge" ]]; then
  # The option to add tags incrementally without deleting the original tags.
  # If the key of new tag and original tag are duplicated, the original value
  #    will be overwritten.
  TAG_OPTIONS="--is-incremental"
else
  TAG_OPTIONS=""
fi

az resource tag $TAG_OPTIONS --subscription "${subscription_id}" --tags ${tags} --ids "${resource_id}"
